* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.header {
    padding: 0 2rem 0 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
    border-bottom: 1px solid gray;
}
.log i {
    font-size: 3rem;
}
.main {
    margin: 0 auto;
    width: 100%;
    max-width: 992px;
    padding: 0 1rem 0 1rem;
}
.randon-cats,
.load-michi, 
.favorite-cats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.load-michi {
    background-color: hsl(162.46deg 55.01% 32% / 19%);
    margin: .5rem 0 .5rem 0;
    border: 1px #97c2f3 dashed;
}

.load-michi form {
    display: flex;
    flex-direction: column;
}
.cats-random,
.cats-favorite {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.random-cat-image,
.favorite-cat-image {
    width: 200px;
    height: 200px;
}
.card-cat,
.card-favorite-cat {
    display: flex;
    flex-direction: column;
}
.btn-favorite,
.btn--remove-favorite {
    margin: .5rem 0 .5rem 0;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.btn--remove-favorite {
    background-color: #d27676;
}
.btn--remove-favorite:hover {
    background-color: red;
    color: white;
}

button {
    margin: 1rem;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
}